<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onlyofficedemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/onlyoffice"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/onlyoffice"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activityFoldersFilesView" />
        <activity android:name=".activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>